[Logging]
logFile: /tmp/WPSClient.log
logLevel: DEBUG

[Data]
GMLfilesPath: /var/www/tmp/

[MapServer]
MapServerURL: http://localhost/cgi-bin/mapserv?map=
mapFilesPath: /var/www/tmp/
mapTemplate: /var/www/MapServ/map.html
imagePath: /var/www/MapServ/map_images/
imageURL: /MapServ/map_images/
otherProjs: EPSG:3857 EPSG:3035 EPSG:4326 EPSG:900913
meta_fees: none
meta_accessconstraints: none
meta_keywordlist: Geospatial WebServices,iGUESS, MUSIC
meta_addresstype: 
meta_address: 5, avenue des Haut-Fournaux
meta_city: Esch-sur-Alzette
meta_stateorprovince: 
meta_postcode: 4263
meta_country: Luxembourg
meta_contactelectronicmailaddress: christian.braun@list.lu
meta_contactperson: Christian Braun
meta_contactorganization: Luxembourg Institute of Science and Technology
meta_contactposition: Research & Technology Associate
meta_role: Researcher
meta_contactvoicetelephone: 00352 275888 5048
meta_contactfacsimiletelephone: 00352 275888 -
meta_contactinstructions: by phone or email
meta_hoursofservice: 8:00-16:00/5 CET
